:root
{
    --paragraph-font-- : 'Questrial', sans-serif;
    --header-font-- : 'Raleway', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

main
{
    padding: 1em;
}

.container
{
    position: relative;
}

.header_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    display: flex;
}

.logo .logo_1
{
    width: 55px;
    height: 50px;
}

.logo .logo_1 img
{
    width: 100%;
    height: 100%;
}

.logo .logo_2
{
    width: 110px;
    height: 50px;
    margin-left: 3px;
}

.logo .logo_2 img
{
    width: 100%;
    height: 100%;
}

/* Menu */
.navbar
{
    position: relative;
}

.navbar ul
{
    display: none;
    position: absolute;
    right: -18px;
    top: 65px;
    width: 125px;
    
}

.navbar ul li
{
    font-size: 0.7em;
    margin-bottom: 1.5em;
    text-align: center;
}

.navbar ul li a
{
    padding: 0.4em;
    font-family: var(--header-font--);
    font-weight: bold;
    cursor: pointer;    
}

.navbar ul li a:hover
{
    border-bottom: 2px solid black;
}


@media (max-width: 799px)
{
    .navbar:hover ul
    {
        display: block;
    }
}

.navbar div img
{
    padding: 1.5em;
    width: 75px;
    cursor: pointer;
}



@media (min-width: 800px)
{
    .navbar ul
    {
        display: flex;
        top: -2px;
        right: 0;
        width: 350px;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar div img
    {
        display: none;
    }

    .navbar ul li a
    {
        padding: 1.2em;
        letter-spacing: 1px;
        text-decoration: none;
        color: black;
        font-size: var(--paragraph-font--);
        font-weight: bold;
    }

    .navbar ul li
    {
        margin-bottom: 0;
    }
}


.breakout_container>h1
{
    font-family: var(--header-font--);
    letter-spacing: 10px;
    font-size: 1.5em;
    text-align: center;
    margin-top: 2em;
}


.breakout_container
{
    width: 100%;
    margin-top: 2em;
}


.breakout_container a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 0.9em;
    border-radius: 10px;
    font-family: var(--header-font--);
}

.breakout_container a:hover
{
    color: black;
    background-color: rgb(225,225,225);
}


.breakout_container .session_days
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3em 0 1em 0;
}

.breakout_container .session_days p
{
    font-family: var(--header-font--);
    font-weight: bold;
    letter-spacing: 1px;
    background-color: blue;
    color: white;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.breakout_container .session_days p.active
{
    color: black;
    background-color: rgb(225,225,225);
}


.breakout_container .breakout_for_desktop
{
    display: none;
}

.breakout_for_mobile .min_table
{
    margin-bottom: 2em;
}

.breakout_for_mobile .min_table h1
{
    font-family: var(--header-font--);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin: 3em 0 2em 0;
}

.breakout_for_mobile .programme
{
    margin-bottom: 2em;
}

.breakout_for_mobile .programme section
{
    margin-bottom: 4em;
}

.breakout_for_mobile .programme section p 
{
    margin-bottom: 1em;
    font-family: var(--header-font--);
}

.breakout_for_mobile .programme section p:nth-of-type(1)
{
    font-weight: bold;
}

.breakout_for_mobile .programme section p:nth-of-type(5)
{
    margin-top: 2em;
}

.footer_container
{
    margin-top: 10em;
    background-color: black;
}

.footer p
{
    font-weight: bold;
    font-family: var(--header-font--);
    font-size: 1.1em;
    color: white;
}

.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.footer_logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.visible
{
    display: none;
}





@media (min-width: 800px)
{
    .breakout_container .breakout_for_desktop
    {
        display: block;
    }

    .breakout_container .breakout_for_mobile
    {
        display: none;
    }

    .breakout_container,
    .header_container
    {
        width: 100%;
        margin: auto;
    }

    .breakout_container
    {
        margin: 3em auto;
    }

    .breakout_container 
    .session_head
    {
        display: flex;
        justify-content: space-between;
        font-family: var(--header-font--);
        font-weight: bold;
        font-size: .9em;
    }

    .breakout_container 
    .breakoutsession 
    .zoom
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .visible
    {
        display: none;
    }

    .breakout_container 
    .breakoutsession 
    .zoom .theme,
    .breakout_container 
    .session_head p:nth-of-type(3)
    {
        flex-basis: 400px;
    }

    .breakout_container .sessions,
    .breakout_container 
    .breakoutsession 
    .zoom
    {
        margin: 3em 0 3em 0;
    }

    .breakout_container .sessions h1
    {
        margin: 2em 0 ;
    }

    .breakout_container 
    .breakoutsession 
    .zoom .theme p:nth-of-type(1)
    {
        font-weight: bold;
    }

    .breakout_container 
    .breakoutsession 
    .zoom .theme p:nth-of-type(2)
    {
        margin-top: 1em;
    }

    .breakout_for_desktop
    {
        width: 100%;
        margin: auto;
    }

    .breakout_for_desktop .table_container
    {
        width: 100%;
    }

    .breakout_for_desktop .table_container table
    {
        width: 100%;
        border-spacing: 0 20px;
    }

    .breakout_for_desktop .table_container .table h1
    {
        font-family: var(--header-font--);
        text-transform: uppercase;
        margin-bottom: 1em;
        font-size: 1.1em;
        font-weight: bold;
    }

    .breakout_for_desktop .table_container table tr
    {
        vertical-align: top;
    }

    .breakout_for_desktop .table_container table th,
    .breakout_for_desktop .table_container table td
    {
        text-align: left;
    }

    .breakout_for_desktop .table_container table th
    {
        font-family: var(--header-font--);
        font-weight: bold;
    }

    .breakout_for_desktop .table_container table td
    {
        font-family: var(--header-font--);
    }

    .breakout_for_desktop .table_container table td.theme p 
    {
        margin-bottom: 1em;
    }

    .breakout_for_desktop 
    .table_container table td.theme p:nth-of-type(1)
    {
        font-weight: bold;
    }

    .breakout_for_desktop .table_container table .long
    {
        width: 300px;
    }
}


@media (min-width: 1000px)
{
    .breakout_container,
    .header_container
    {
        width: 90%;
    }

    .breakout_container 
    .breakoutsession 
    .zoom .theme,
    .breakout_container 
    .session_head p:nth-of-type(3)
    {
        flex-basis: 500px;
    }

    .breakout_container 
    .session_head p:nth-of-type(3)
    {
        flex-basis: 550px;
    }

    .breakout_for_desktop
    {
        width: 100%;
        margin: auto;
    }


    .breakout_for_desktop .table_container table .long
    {
        width: 400px;
    }
}


@media (min-width: 1200px)
{
    
    .breakout_container 
    .breakoutsession 
    .zoom .theme,
    .breakout_container 
    .session_head p:nth-of-type(3)
    {
        flex-basis: 600px;
    }

    .breakout_container 
    .session_head p:nth-of-type(3)
    {
        flex-basis: 650px;
    }

    .footer
    {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    main
    {
        padding: 0;
    }

    .breakout_for_desktop
    {
        width: 100%;
        margin: auto;
    }

    .breakout_for_desktop .table_container table .long
    {
        width: 600px;
    }
}


@media (min-width: 1400px)
{

    .breakout_container,
    .header_container
    {
        width: 80%;
    }

    .breakout_container 
    .breakoutsession 
    .zoom .theme,
    .breakout_container 
    .session_head p:nth-of-type(3)
    {
        flex-basis: 750px;
    }

    .breakout_container 
    .session_head p:nth-of-type(3)
    {
        flex-basis: 790px;
    }
}